{% extends './base.html' %}
{% block body %}
  
      <!-- Background image -->
      <div id="intro" class="bg-image shadow-2-strong" style="background-image: url(https://wallpapercave.com/wp/wp3205211.png);">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
          <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
              <h1 class="mb-3">Regresion Lineal Multiple</h1>
              <h5 class="mb-4">Un modelo de regresión lineal múltiple es un modelo estadístico versátil para evaluar las relaciones entre un destino continuo y los predictores.</h5>
            </div>
          </div>
        </div>
      </div>
    <!--Main Navigation-->
  
    <!--Main layout-->
    <main class="mt-5">
      <div class="container">
        <!--Section: Content-->
        <section>
          <div class="row">
            <div class="col-md-6 gx-6 mb-6" id="img1">
              <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
                <img id = "predic1" src="{{ url_for('static', filename='img/prediccion1.jpg') }}" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
  
            <div class="col-md-6 gx-5 mb-4" id="p1">
              <h4><strong>Regresion Lineal Multiple</strong></h4>
              <p class="text-muted" style="text-align: justify;">
                Un modelo de regresión lineal múltiple es un modelo estadístico versátil para evaluar las relaciones entre un destino continuo y los predictores.

                Los predictores pueden ser campos continuos, categóricos o derivados, de modo que las relaciones no lineales también estén soportadas. El modelo es lineal porque consiste en términos de aditivos en los que cada término es un predictor que se multiplica por un coeficiente estimado. El término de constante (intercepción) también se añade normalmente al modelo.
               
              </p>
              <p><strong>¿Para que se usa?</strong></p>
              <p class="text-muted" style="text-align: justify;">
                La regresión lineal se utiliza para generar conocimientos para los gráficos que contienen al menos dos campos continuos con uno identificado como el destino y el otro como un predictor. Además, se puede especificar un predictor categórico y dos campos continuos auxiliares en un gráfico y se pueden utilizar para generar un modelo de regresión adecuado.
              </p>
            </div>
          </div>
        </section>
        <!--Section: Content-->
  
        <hr class="my-5" />
  
        <!--Section: Content-->
        <section class="text-center">
          <h4 class="mb-5"><strong>Algo mas </strong></h4>
  
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="{{ url_for('static', filename='img/ml.jpg') }}" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Marchine Learning</h5>
                  <p class="card-text" id="p">
                    Coches que se conducen solos, asistentes que traducen instantáneamente de un idioma a otro o sugerencias de compra personalizadas. Complejas tareas que antes eran una quimera son hoy posibles gracias al 'Machine Learning'.
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img id="img2" src="{{ url_for('static', filename='img/prediccion2.jpg') }}" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Mineria de datos</h5>
                  <p class="card-text" id="p2">
                    La minería de datos o exploración de datos es un campo de la estadística y las ciencias de la computación referido al proceso que intenta descubrir patrones en grandes volúmenes de conjuntos de datos.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img id = "img3" src="{{ url_for('static', filename='img/prediccion3.jpg') }}" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 id="title" class="card-title">Inteligencia artificial</h5>
                  <p class="card-text"  id="p3">
                    La inteligencia artificial, en el contexto de las ciencias de la computación, es una disciplina y un conjunto de capacidades cognoscitivas e intelectuales expresadas por sistemas informáticos
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}