{% extends './base.html' %}
{% block body %}
<div id="intro" class="bg-image shadow-2-strong" style="background-image: url(https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?cs=srgb&dl=pexels-alex-knight-2599244.jpg&fm=jpg);">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Nosotros</h1>
          <h5 class="mb-4">Analizó la evaluación de los requisitos de carga de calefacción y carga de refrigeración de los edificios (es decir, la eficiencia energética) en función de los parámetros del edificio. </h5>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6"> 
        <div>
          <img id = "eficiencia1" src="{{ url_for('static', filename='img/Eficiencia-3.jpg') }}" class="img-fluid" />
        </div>
      </div>
<div class="col-lg-6 col-md-6 col-sm-6">
  <h5 id="p2">¿Que es?</h5>
  <p id="parrafo" style="text-align: justify;">El concepto de eficiencia energética hace referencia a la capacidad para obtener los mejores resultados en cualquier actividad empleando la menor cantidad posible de recursos energéticos. Nos permite reducir el consumo de cualquier tipo de energía y con ello los posibles impactos ambientales asociados a ella.</p>

  <h5 id="p2">¿Para que sirve?</h5>
  <p id="parrafo" style="text-align: justify;">La eficiencia energética es imprescindible para conseguir reducir el consumo de energía sin que ello conlleve perder prestaciones y confort. Además, gracias a ella conseguimos ser más sostenibles porque reducimos las emisiones de CO2 y resto de gases de efecto invernadero a la atmósfera.</p>

</div>




    </div>
  </div>










</div>


{% endblock %}