{% extends './base.html' %}
{% block body %}
<div id="intro" class="bg-image shadow-2-strong"
  style="background-image: url(https://fotografias.antena3.com/clipping/cmsimages01/2023/02/16/D63607C7-330A-49E4-87DA-0B9A326CB93A/inteligencia-artificial-redes-neuronales_98.jpg?crop=1355,762,x0,y0&width=1900&height=1069&optimize=low&format=webply);">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Red neuronal</h1>
        <h5 class="mb-4">Las redes neuronales artificiales son un modelo computacional evolucionado a partir de diversas
          aportaciones científicas que están registradas en la historia.​ </h5>
      </div>
    </div>
  </div>
</div>

<div class="container" id="red">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <h5 id="redneuro" class="display-4">Convertir de Farenheit a Grados Celcius</h5>
    </div>
  </div>
</div>
<div class="container" id="red1">
  <div class="row" id="row">
    <div class="col-lg-4col-sm-4 col-md-4">
      <label>Tipo</label>
      <div>
        <select id="tipo" class="form-select">
          <option value="">Farenheit</option>
          <option value="">Celcius</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4col-sm-4 col-md-4">
      <div>
        <label>Celcius</label>
        <label id="resultado" for=""></label>
        <input type="number">
      </div>
    </div>
    <div class="col-lg-4col-sm-4 col-md-4">
      <div>
        <button class="btn btn-success" id="convertir"> Convertir</button>
      </div>
    </div>
  </div>

  {% endblock%}
