{% extends './base.html'%}
{% block title %}Iniciar Sesion {% endblock %}

{% block CSS%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<main class="form-signin w-100 m-auto">
    <form class="text-center" action="/login" method="POST">
      <img class="mb-4" src="{{ url_for('static', filename='img/usuario.png') }}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Inicie Sesion</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Juanito" name="user">
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Juani12345" name="password">
        <label for="floatingPassword">Contraseña</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; Andres Acosta, Carlos Quintero, Samir Acosta, Juan Mendoza <br>2023</p>
    </form>
  </main>
{% endblock %}