#btnlogin {
    margin-left: 40%;
}

#txtusuario {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#centrar {
    margin-left: 40%;
}

#h4 {
    font-family: Copperplate;

}

#perfil {
    text-align: center;
}

#formcontactenos {
    background-color: #d7d7b8;
}

#titulo {
    text-align: center;
}

.green-border-focus .form-control:focus {
    border: 1px solid brown;
    box-shadow: 0 0 0 0.1rem #5d201d(139, 195, 74, .25);
}



#imagen {
    margin-left: 20%;
    margin-top: 10%;
    border: 1px solid white;
    border-radius: 4%;
}

#formulario {
    margin: auto;
    border-radius: 2%;
    background-color: #1ca39e;

}

#btnenviar {
    margin-top: 5%;
    margin-right: 69%;
}

#borrar {
    padding-left: 30%;
    margin-top: -10%;

}

#button {
    margin-top: 5%;
}

#menu {

    background-color: #1ca39e !important;
}


#predic1 {
    border-radius: 10%;
    border: solid 1px;
    color: #1ca39e;

}

#p {
    text-align: justify;
}

#p1 {
    padding-top: 7%;
}

#img1 {
    padding-top: 8%;
}

#img2 {
    height: auto;
    width: 250px;
}

#p2 {
    text-align: justify;
}

#p3 {
    text-align: justify;

}

#img3 {
    height: auto;
    width: 440px;
}

#title {
    padding-top: 13%;
}
#red{
    margin-top: 1%;

    padding-bottom: 5%;
    background-color: #D2D2D4;

}
#red1{
    background-color: #D2D2D4;
}
#redneuro{
    text-align: center;
}

#row{
    padding-left: 10%;
}


:root {
    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
  * {
    padding: 0;
    margin: 0;
  }
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
  }


  .btn-group {
    text-align: center;
  }
  .open-modal {
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: .75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }

  .modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  .modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
  }

  
.modal-dialog > * {
    padding: 5rem;
  }
  .modal-header,
  .modal-footer {
    background: var(--lightgray);
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .modal-header .modal-close {
    font-size: 1.5rem;
  }
  .modal p + p {
    margin-top: 1rem;
  } 

  .modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }

  #title{

    color: black;

  }

  #divcargar{

   padding-left: 42%;
  }